

/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Reset CSS*/


.titulo-form{
    font-size: 30px;
    padding-top: 30px;
    margin: 0px 0px 25px 0px; 
    color: #2c4555;
}

.titulo-form, label, button, h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #6135ff;
}

h1 {
    margin: 0px 0px 15px 0px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center; 
}

form {
    display: inline-block;
}

section {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    padding: 100px;
}

fieldset {
    margin: 0px 10px 0px 0px;
}

form {
    background-color: white;
    padding: 30px 30px;
    border-radius: 20px;    
}
  
form .input-block {
    margin-bottom: 20px;
}
  
form .input-block label {
    font-size: 14px;
    color: #3b3b3b;
}

form .input-block input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #000000;
    border-radius: 2px;
    border: 1px solid #92989e;
    outline-color: #c15959;
}

.btn01 {

    border-radius: 6px;
    border: none;
    padding: 10px;
    background-color: #2c4555;
    border-color: #3b3b6e;
    color: white;
    
}

.btn01:hover{
    font-size: 15px;
    /*padding: 12px;*/
    animation-delay: 15ms;
}

.btn01:first-child{
    background-color: #6ebe7b;
}

.btn01:nth-of-type(2){
    background-color: #b44141;
}